<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="link-color" href="#">Instagram</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a class="link-color" href="#">Facebook</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a
              class="link-color"
              href="https://www.instagram.com/headwindconstruction/"
              >Contact Developer</a
            >
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">
          &copy; Headwind Construction 2021. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
