<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>

  <body>
    <!-- Navigation -->
    <%- include('../partials/_nav') %>

    <!-- Masthead -->
    <header id="masthead">
      <img
        src="img/logo_PNG/logo_10.png"
        class="img-fluid"
        id="masthead-logo"
      />
      <div class="text-center" id="masthead-motto">
        <h3>
          Bringing together years of experience to deliver Earth-conscious,
          quality craft that is built to last
        </h3>
      </div>
    </header>

    <!-- Motto -->
    <section class="motto">
      <div class="container text-center"></div>
    </section>

    <!-- Image Showcases -->
    <section id="showcase">
      <h1 class="mb-5 section-heading">Our Work</h1>
      <div class="container showcase-container p-0">
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 showcase-img showcase-img-top"
            style="background-image: url('img/photos/lees_deck.jpeg')"
          ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
            <h3 class="showcase-heading mb-3">Outdoor Decks & Patios</h3>
            <p class="lead mb-0">
              We do decks. We are good at decks. Our decks are cool. We have
              proof. We love building decks and decks love being built by us.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 showcase-img showcase-img-left"
            style="background-image: url('img/photos/floor.jpg')"
          ></div>
          <div class="col-lg-6 my-auto showcase-text p-5">
            <h3 class="showcase-heading mb-3">Flooring</h3>
            <p class="lead mb-0">
              We do floors. We are good at floors. Our floors are cool. We have
              proof. We love building floors and floors love being built by us.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 showcase-img showcase-img-right"
            style="
              background-image: url('img/photos/kristens_floor/IMG_0337.jpeg');
            "
          ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
            <h3 class="showcase-heading mb-3">Stairs</h3>
            <p class="lead mb-0">
              We do stairs. We are good at stairs. Our stairs are cool. We have
              proof. We love building stairs and stairs love being built by us.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 showcase-img showcase-img-bottom"
            style="background-image: url('img/photos/pergola.jpg')"
          ></div>
          <div class="col-lg-6 my-auto showcase-text p-5">
            <h3 class="showcase-heading mb-3">Miscellaneous</h3>
            <p class="lead mb-0">
              We do cabinets. We are good at benches. Our bookshelves are cool.
              We have proof. We love building pergolas and pergolas love being
              built by us.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Meet the Team -->
    <section id="about">
      <h1 class="mb-5 section-heading">The Headwind Team</h1>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-4">
            <div class="about-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-4"
                src="img/testimonials-1.jpg"
                alt=""
              />
              <h5>Tucker</h5>
              <p class="font-weight-light mb-0 ml-2 text-lg-left">
                With over 7 years of experience Tucker has been steadily
                improving his craft, previously working under carpenters with
                decades of experience. With a passion for quality and natural
                building he looks for ways to build with more earth friendly
                materials. For fun he likes to bike, climb, hike, camp, and
                immerse himself in the wilderness.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-4"
                src="img/testimonials-2.jpg"
                alt=""
              />
              <h5>Ryan</h5>
              <p class="font-weight-light mb-0 ml-2 text-lg-left">
                With nearly 15 years of experience in the commercial and
                residential industry as a carpenter and project manager, Ryan
                has been slowly building his career to this point. He has a
                bachelors degree in Construction Management and a Masters degree
                in City Planning; and he's been working with his Uncle through a
                variety of trades since he was 15. Carpentry has always been a
                passion. For fun Ryan enjoys hiking, camping, skiing and playing
                the guitar.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-4"
                src="img/testimonials-3.jpg"
                alt=""
              />
              <h5>Dan</h5>
              <p class="font-weight-light mb-0 ml-1 text-lg-left">
                Is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section id="contact">
      <div class="container">
        <h1 class="mb-5 text-center section-heading">Contact Us</h1>
        <form
          action="/send"
          id="contact-form"
          method="POST"
          enctype="multipart/form-data"
          role="form"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="contactFormName">Name</label>
              <input
                type="text"
                class="form-control"
                id="contactFormName"
                placeholder="Name"
                name="name"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="contactFormEmail">Email address</label>
              <input
                type="email"
                class="form-control"
                id="contactFormEmail"
                placeholder="name@example.com"
                name="email"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label for="contactFormMessage">Message</label>
            <textarea
              class="form-control"
              id="contactFormMessage"
              rows="5"
              name="message"
              placeholder="Type message here..."
              required
            ></textarea>
          </div>
          <button type="submit" value="submit" class="btn btn-info">
            Send
          </button>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/_footer') %>
  </body>
  <%- include('../partials/_scripts') %> >
</html>
