<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>

  <body>
    <!-- Navigation -->
    <%- include('../partials/_nav') %>

    <!-- Masthead -->
    <div class="masthead">
      <div class="background">
        <img src="img/logo_PNG/logo_10.png" class="overlay" />
      </div>
    </div>

    <!-- Motto -->
    <section class="motto">
      <div class="container">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-8">
            <h2>HEADWIND <i class="fas fa-wind fa-lg ml-3"></i></h2>
            <br />
            <h5>NOUN</h5>
            <p>
              A wind blowing from directly in front, opposing forward motion.
            </p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container showcase-container border border-dark p-0">
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 showcase-img"
            style="background-image: url('img/photos/kristens_floor/IMG_0337.jpeg')"
          ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <p class="lead mb-0">
              As an organization, we reclaim this word and reflect the forces
              opposing forward motion.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 showcase-img"
            style="background-image: url('img/photos/cedarsaint_deck/IMG_0257.jpeg')"
          ></div>
          <div class="col-lg-6 my-auto showcase-text">
            <p class="lead mb-0">
              We are a movement, a wind blowing in a new direction toward a more
              ecologically sustainable environment.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 showcase-img"
            style="background-image: url('img/photos/kristens_floor/20200703_175655.jpg')"
          ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <p class="lead mb-0">
              Built to last, with earth healthy materials.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Meet the Team -->
    <section class="testimonials text-center">
      <div class="container">
        <h2 class="mb-5">Meet the Team</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="img/testimonials-1.jpg"
                alt=""
              />
              <h5>Tucker</h5>
              <p class="font-weight-light mb-0">Co-founder</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="img/testimonials-2.jpg"
                alt=""
              />
              <h5>Ryan</h5>
              <p class="font-weight-light mb-0">Co-founder</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="img/testimonials-3.jpg"
                alt=""
              />
              <h5>Dan</h5>
              <p class="font-weight-light mb-0">Co-founder</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/_footer') %>
  </body>
  <%- include('../partials/_scripts') %> >
</html>
